body {
    overflow-x: hidden;
    background-color: rgba(252, 191, 201, 0.276);
    font-family: 'Tiro Devanagari Sanskrit', serif;
  }

  .bg-img {
    background: url("media/YouCanHelpHer.jpg");
    height: auto;
    width: 100vw;
  }

  .myHeading{
    font-family: 'Mukta', sans-serif;
    color: #560f6e;
  }
  .text{
    text-align: justify;
    font-size: 17px;
  }

  .topic {
    font-size: larger;
    font-weight: bolder;
    color: #cc1f97;
  }

  .blinking-text{ 
    animation: animate 0.8s linear infinite;
  }
  @keyframes animate{
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 2;}
    75%{opacity: 1;}
    100%{opacity: 0;}
  }

  .card{
    background-color: rgba(86, 15, 110, 0.11);
  }

  .card-title{
    color: #b11c84;
  }

  .icon-img{
    border-radius: 50%;
  }

  .image1{
    width: auto;
    /* border: 1px solid black; */
    border-radius: 5px;
  }

  p.col-3{
    color: #b11c84;
    font-size: 31px;
  }

  .steps{
    font-size: 15px;
    line-height: 0.5 !important;
    font-style: italic;
  }

  .footer{
    background-color: #560f6e;
    color: rgba(252, 191, 201, 0.8);
  }

  .heading{
    font-weight: bolder;
    text-transform: capitalize;
    color: rgba(255, 238, 241, 0.799);
  }

  .content{
    font-weight: lighter;
  }

  .list{
    list-style-type: none;
  }

  .quickLink{
    text-decoration: none;
    color: rgba(252, 191, 201, 0.8);
    font-size: 15px;
    line-height: 0.9;
    font-weight: lighter;
  }
  a:hover{
    color: rgba(252, 191, 201, 0.8);
  }

  .copyright{
    color: rgba(252, 191, 201, 0.8);
    background-color: rgba(245, 245, 245, 0.066);
    font-size: x-small;
    align-self: center;
  }